.outer-box {
    width: 100%;
    min-height: 100vh;
}


.top-box {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.poster-box img {
    outline: 3.5px solid #f03351;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
}

.detail-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin-top: 15px;
    align-items: center;
}

.movie-name {
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.movie-duration {
    font-size: 16px;
    color: #f03351;
}







.middle-box {
    box-shadow: inset 0 0 40px 20px #262626;
    padding: 35px 60px 120px 60px;
    background-color: #303030;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.select-date {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    width: 100%;
}

.date-title {
    font-size: 23px;
    color: white;
    font-weight: bold;
}

.date-radio {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.btn-outline-danger {
    padding: 10px 18px 10px 18px;
}

.btn-outline-danger p[name="day"] {
    font-size: 13px;
}

.btn-outline-danger p[name="date"] {
    font-size: 25px;
    font-weight: bold;
}

.btn-outline-danger p[name="month"] {
    font-size: 13px;
}

.select-experience {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    width: 100%;
}

.experience-title {
    font-size: 23px;
    color: white;
    font-weight: bold;
}






.bottom-box {
    width: 100%;
    margin-top: -60px;
    padding: 50px 60px;
    background-color: #212121;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 1;
}

.cinema-title {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.accordion-item {
    background-color: #212121;
}

.accordian-button {
    color: white;
}

.accordion-button:is(.collapsed) {
    color: #FFF !important;
    background-color: #212121 !important;
}

.accordion-button:not(.collapsed) {
    color: #FFF !important;
    background-color: #f03351 !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(180deg);
}

.accordion-button:is(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(0deg);
}

.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: #f03351 !important;
    color: #FFF !important;
    text-decoration: none !important;
    border: hidden !important;
    border-color: #FFF !important;
}

.accordion-button:focus {
    border: none !important;
    outline: none !important;
    box-shadow: none;
}

.toTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 100;
}

#top {
    background-color: #f03351;
    border-radius: 15px;
    border: 2px solid white;
    padding: 25px 40px 25px 40px;
    color: white;
    transition: all ease-out .3s;
}

#top:hover {
    background-color: white;
    color: #f03351;
    border: 2px solid #f03351;
    transition: all ease-in .3s;
}

.modal-content {
    background-color: #212121;
    border: 3px solid #f03351;
}

.modal-header {
    border: none;
}

.modal-footer {
    border: none;
}


.close {
    border: none;
    background-color: transparent;
    font-size: 35px;
    color: #f03351;
    margin-left: auto;
    z-index: 10;
}

.close:hover {
    color: white;
}

.modal-image {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: -150px;
}

.modal-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

table {
    margin-top: 20px;
    width: 100%;
}

td,
tr {
    padding: 8px;
    vertical-align: center;
}

.title {
    width: 150px;
    color: #f03351;
}

.answer {
    color: white;
    text-align: justify;
    line-height: 25px;
}

.modal-open {
    overflow: hidden;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 1) !important;
    /* Adjust the alpha value to make it darker */
}