.noSpinners::-webkit-inner-spin-button,
.noSpinners::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.product-container {
    width: 100%;
    height: contain;
    justify-content: center;
    display: flex;
    margin: 20px 0px 20px 0px;
    gap: 15px;
}

.product-header {
    border-bottom: 1px solid #f03351;
    padding: 13px 20px 13px 20px;
    display: flex;
    flex-flow: row nowrap;
}

.left-box {
    display: flex;
    flex-flow: column nowrap;
    width: 89%;
    border: 1px solid #f03351;
    border-radius: 15px;
    height: fit-content;
    margin-bottom: 30px;
    margin-top: 15px;
}



#createView iframe {
    width: 100%;
    height: 100%;
}

#createView {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}



.top-container {
    display: flex;
    flex-flow: column nowrap;
}

.main-img {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0px;
}

.select-img {
    width: 15%;
    border-left: 1px solid #f03351;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.middle {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding: 0px;
}

.sideimg {
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

table {
    width: 100%;
}

td,
tr {
    padding: 10px;
    vertical-align: center  ;
}

.title {
    width: 150px;
    color: #f03351;
}

.answer {
    color: white;
    text-align: justify;
    line-height: 25px;
}


/*Click this back to top*/
.toTop {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

#top {
    background-color: #f03351;
    border-radius: 15px;
    border: 2px solid white;
    padding: 25px 40px 25px 40px;
    color:white;
    transition: all ease-out .3s;
}

#top:hover {
    background-color: white;
    color: #f03351;
    border: 2px solid #f03351;
    transition: all ease-in .3s;
}

.left-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 0px 15px 0px 0px;
    width: 80%;
    gap: 10px;
}

.status-icon {
    display: flex;
    flex-flow: row nowrap;
    height: inherit;
    align-items: center;
    margin: 5px;
    margin-left: auto;
    color: white;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
    justify-content: right;
}

.topStatus {
    background-color: #f03351;
    border-radius: 6px;
    padding: 15px 25px 15px 25px;
}

/*Mobile and Tablet*/
@media (max-width: 869px) {
    .product-container {
        flex-flow: column nowrap;
    }

    .left-box {
        width: 100%;
        margin: 5px;
    }

    .middle {
        flex-flow: column nowrap;
    }

    .select-img {
        flex-flow: row nowrap;
        width: 40%;
    }

    .main-img {
        width: 100%;
    }

    .right-box {
        width: 100%;
        margin: 5px;
        flex-flow: column nowrap;
        padding-bottom: 10px;
        gap: 20px;
    }

    .product-suggestion {
        display: flex;
        margin-bottom: 20px;
        flex-flow: column nowrap;
        justify-content: center !important;
        width: 100%;
        gap: 20px;
        align-items: center;
    }

    .suggestion1 {
        margin-bottom: 20px;
        width: 40%;
    }
}