/* Global */
.outer-box {
    min-height: 80vh;
    padding: 20px 50px 40px 50px;
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
}

.main-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
    border-bottom: 3px solid #f03351;
    padding: 20px 0px 20px 0px;
}

.boxes {
    display: flex;
    gap: 30px;
}



/* Left Box */
.left-box {
    width: 18%;
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding-left: 50px;


}

.left-tt {
    font-weight: bold;
    color: white;
    font-size: 20px;
}



.btnRadio {
    padding: 15px 30px !important;
    font-weight: bold;
}


/* Right Box */
.right-box {
    width: 82%;
}

.right-tt {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.main-box {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 35px;
    gap: 25px;
}

/* Ticket */
.item {
    min-height: 470px;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    background-color: #f03351;
    display: flex;
    position: relative;
}

.item::before,
.item::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #141414;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.item::before {
    left: -20px;
}

.item::after {
    right: -20px;
}

.left-info {
    width: 75%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.m-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.l-info {
    display: flex;
    flex-flow: column nowrap;
    padding: 35px;
    gap: 10px;
    color: white;
    width: 100%;
    border-right: 2px dashed white;

    justify-content: space-between;
}

.m-name {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.select-details {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 15px 20px 20px 10px;
}

.s-box {
    display: flex;
    flex-flow: row nowrap;
}

.s-title {
    width: 30%;
    font-weight: bold;
    font-size: 17px;
}

.det {
    width: 70%;
    font-size: 17px;
}

.btm-info {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    padding: 0px 10px;
}

.btm-cont {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.bdr {
    border: 1px solid white;
    margin: 0px 10px;
}

.btm-cont-dt {
    font-size: 23px;
    font-weight: 600;
}

.qrcode img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.downlaod {
    width: 100%;
}

.btn-light {
    color: #f03351;
    font-weight: bold;
}

.right-info {
    width: 25%;
    min-height: 100%;
    border-left: 1px dashed #f03351;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

/* Left Box fixed */