:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-color: #f8f9fa;
    --card-background: #ffffff;
}

body {
    background-color: var(--background-color);
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: white;
}

.sidebar {
    margin-top: 0.5rem;
}

.sidebar .nav-link {
    color: white;
    border-radius: 0.25rem;
    font-size: 16px;
    padding: 1.8rem 1rem;
}

.nav-link i{
    width:30px;
    height:20px;
}

.sidebar .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar .nav-link.active {
    background-color: var(--primary-color);
}

.main-content {
    background-color: var(--background-color);
}

.card {
    background-color: var(--card-background);
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    padding: 5px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-size: 30px;
    color: rgb(65, 51, 17);
}

/*.movie-card-title {*/
/*    font-size: 26px;*/
/*    font-weight: 500;*/
/*}*/

.btn-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.cinema-stat {
    margin-top: 1.8rem;
    font-size: 0.9rem;
    color: #6c757d;
}

.admin-info {
    padding: 1.2rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-info img {
    width: 75px;
    height: 75px;
    border-radius: 30%;
    object-fit: cover;
}

.card-configuration {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.log-entry {
    padding: 30px 0;
    border-bottom: 1px solid #e0e0e0;
}

.log-entry:last-child {
    border-bottom: none;
}

.log-time {
    font-weight: bold;
    color: #6c757d;
}

.log-event {
    margin-bottom: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 20px;
}

.movie-card {
    height: 730px;
    display: flex;
    flex-direction: column;
}
.movie-card .card-img-top {
    height: 400px; /* Set a fixed height for images */
    object-fit: fill; /* Ensure images cover the area without distortion */
}

movie-card .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.movie-card .movie-card-title {
    /*height: 50px; !* Set a fixed height for title *!*/
    font-size:26px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

.movie-card .card-text {
    margin-bottom: 0.5rem;
}
.movie-card .card-footer {
    margin-top: auto;
}

.btn-group {
    width: 100%;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.movie-schedule {
    margin-top: 2rem;
}

.date-header {
    background-color: rgb(178, 208, 218);
    padding: 0.8rem;
    padding-left: 20px;
    margin-top: 1rem;
    color: #12355B;
}

.movie-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 2.2rem 0;
}

.movie-item:last-child {
    border-bottom: none;
}

.showtimes {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 1000px;
}

.movie-item>div:nth-child(2) {
    flex-grow: 1;
}

.showtime-badge {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    width: 160px;
    text-align: center;
    padding: 0.7rem;
}

.movie-schedule-img {
    height: auto;
    object-fit: cover;
    width: 200px;
}

.pricing-section {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.pricing-header {
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.pricing-table {
    font-size: 0.9rem;
}

.discount-badge {
    font-size: 0.8rem;
    padding: 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.discount-card-title {
    font-size: 24px;
    margin-bottom: 30px;
}