body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

.main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bg-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url("../Media/Image/mainMovie_1.jpg");
    filter: blur(20px);
    opacity: 0.2;
    transition: background-image 0.5s ease;
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    margin-top: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.movie-container {
    margin-left: 100px;
    display: flex;
    overflow-x: auto;
    gap: 100px;
    padding: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
    height:900px;
}

.movie {
    display: flex;
    color: white;
    min-width: 350px;
    height: 680px;
    transition: transform 0.3s ease;
    position: relative;
    flex: 0 0 calc(100% / 3);
    max-width: calc(85% / 3);
    padding: 0 10px;
    box-sizing: border-box;
}

.movie-ranking {
    font-size: 140px;
    position: relative;
    left: 12px;
    bottom: -50px;
    color: #ffd700;
    opacity: 0.9;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.movie:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.movie img {
    width: 350px;
    height: 580px;
    object-fit: cover;
    border-radius: 10px;
}

.ranking-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: white;
    align-items: baseline;
}

.movie .ranking-title {
    flex-grow: 1;
    text-align: center;
    margin-top: 0;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 60;
}

.movie .ranking-rating {
    position: static;
    margin-left: 0;
}

.rating {
    font-size: 18px;
}

.movie .ranking-rating .star {
    font-size: 28px;
    color: #ffd700;
}

.movie p {
    margin: 5px 0;
    font-size: 14px;
}

.nav-button {
    background: rgba(27, 20, 18, 0.897);
    border: none;
    color: #ffd700;
    font-size: 36px;
    padding: 10px;
    cursor: pointer;
    border-radius: 500px 0px 0px 500px;
    height: 100px;
    width: 140px;

    margin: 0 10px;
    z-index: 2;
    transition: transform 0.3s ease;
    top: 50%;
}

.nav-button:hover {
    transform: scale(1.3);
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
    position: absolute;
}

.formats {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 15px;
}

.format {
    background-color: #333;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 12px;
}

nav {
    position: relative;
    z-index: 10;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav li {
    position: relative;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    padding: 20px 0;
}

.showing {
    color: #ffd700;
}

.showing::before,
.showing::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #ffd700;
}

.showing::before {
    top: 0;
}

.showing::after {
    bottom: 0;
}

.booking-container {
    display: relative;
    width: 100%;
    max-width: 800px;
}

.booking-container h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffd700;
    font-weight: bold;
}

.toggle-container {
    background-color: #333333;
    border-radius: 25px;
    display: inline-flex;
    padding: 5px;
    margin-bottom: 20px;
    height: 120px;
}

.toggle-btn {
    padding: 20px 80px;
    border-radius: 20px;
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.toggle-btn.active {
    background-color: #ffd700;
    color: #000000;
}

.location-container {
    margin-top: 15px;
    width: 100%;
    max-width: 400px;
}

.input-wrapper {
    margin-top: 20px;
    position: relative;
    display: flex;
}

.location-input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: 60px;
    font-size: 17px;
}

.map-icon-button {
    position: absolute;
    right: 6px;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 100%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map-icon {
    background-color: #ffd700;
    color: black;
    font-size: 28px;
    padding: 10px;
}

.location-container p {
    margin-top: 30px;
    color: #ffd700;
    font-size: 17px;
}

.showtime-container {
    margin-top: 100px;
    position: relative;
    padding: 20px 0;
    text-align: center;
}

.showtime-title {
    color: #ffd700;
    font-size: 36px;
    text-align: center;
    display: inline-block;
    position: relative;
    padding: 20px 0;
    width: 100%;
}

.showtime-title::before,
.showtime-title::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background-color: #ffd700;
}

.showtime-title::before {
    top: 0;
}

.showtime-title::after {
    bottom: 0;
}

.filter-section {
    margin-top: 2em;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    height: 50px;
    padding-bottom: 15px;
}

.filter-section i {
    font-size: 30px;
    color: #ad6c8b;
    width: 45px;
    text-align: center;
}

.filter-label {
    font-weight: bold;
    width: 100px;
    color: white;
    margin-left: 1em;
    font-size: 20px;
    text-align: right;
}

.filter-options {
    display: flex;
    width: 100%;
    gap: 43px;
    margin-left: 50px;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.filter-option {
    height: 30px;
    color: white;
    cursor: pointer;
    padding: 0;
    border: none;
}

.filter-option.active {
    border-bottom: 4px solid lightblue;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.movie-result {
    display: flex;
    background-color: #000;
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.movie-poster {
    width: 300px;
    height: auto;
}

.movie-details {
    padding: 30px;
    flex-grow: 1;
}

.movie-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.movie-info {
    font-size: 14px;
    margin-bottom: 20px;
}

.showtimes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
    margin-top: 20px;
}

.showtime-btn {
    padding: 20px 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 500px;
    cursor: pointer;
}

.showtime-btn:hover {
    border: 3px solid #f03351;
}

.showtime {
    max-width: 80%;
}

.coming-soon-movie {
    margin-top: 100px;
    margin-bottom: 100px;
}

.coming-soon-movie h1 {
    text-align: center;
    border-bottom: 2px solid #0066cc;
    padding-bottom: 10px;
    font-size: 56px;
    color: white;
}

.coming-soon-movie .movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.coming-soon-movie .movie-card {
    background-color: rgb(236, 226, 226);
    border: 1px solid #333;
}

.coming-soon-movie .movie-card:hover {
    cursor: pointer;
}

.coming-soon-movie .movie-card img {
    max-width: 100%;
}

.coming-soon-movie .movie-title {
    margin: 10px 0 5px;
    font-size: 16px;
    font-weight: bold;
}

.coming-soon-movie .movie-date {
    font-size: 14px;
    color: #ccc;
    margin-top: 40px;
}

.coming-soon-movie .category {
    background-color: #e91e63;
    color: white;
    padding: 2px 5px;
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}