.centered-container {
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 10px;
}

.custom-btn {
    background-color: #f03351;
    border-color: #f03351;
    color: #fff;
}

.custom-btn:hover {
    background-color: #d22340;
    border-color: #d22340;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-container button {
    display: flex;
    align-items: center;
    color: #f03351;
}

.profile-container img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.searchInput-wrapper {
    margin-left: -25px;
    position: relative;
    display: inline-block;
    width: 180px;
}

.input-wrapper {
    position: relative;
    display: inline-block;
    width: 500px;
}

.input-wrapper input,
.searchInput-wrapper input {
    padding-right: 40px;
    width: 100%;
    height: 100%;
}

.input-wrapper button,
.searchInput-wrapper button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px;
}

.input-wrapper button i,
.searchInput-wrapper button i {
    color: #f03351;
}

.input-wrapper button:hover i,
.searchInput-wrapper button:hover i {
    color: #d42f48;
}

.send-btn {
    margin-right: 5px;
    background-color: #f03351;
    color: white;
}

.send-btn:hover {
    background-color: #ffffff;
}

.ml-2 {
    margin-left: 0.5rem;
}

/*For view post*/
.inner-container {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: fit-content;
    border-radius: 10px;
    width: 620px;
}

.like-count {
    font-size: 0.8em;
}

.username {
    font-size: 1.2em;
    margin-left: 10px;
}

.post-content {
    margin-top: 10px;
    margin-left: 20px;
    max-width: 550px;
    line-height: 1.5;
}

.action-container {
    margin-left: 20px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 0.8em;
    color: gray;
}

.action-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;
}

.action-item i {
    margin-right: 5px;
}

.action-item:hover {
    color: #f03351;
}

/*For user comment section*/
.comment-section {
    margin-top: 10px;
    margin-left: 20px;
}

.comment-input {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.comment-input:focus {
    border-color: #f03351;
    outline: none;
}

.send-comment {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.post-image {
    margin-bottom: 10px;
    margin-left: 40px;
}

.posted-image {
    width: 50%;
    max-width: 100px;
    height: 30%;
    border-radius: 5px;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
.close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.display-comment {
    margin-top: 10px;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.user-comment {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin-bottom: 10px;
}

.user-comment {
    width: 550px;
}

.user-reply {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    width: 500px;
}

.profile-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comment-body,
.reply-body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.uname-cmt,
.uname-rpl {
    margin-top: 10px;
    font-size: 0.7em;
    font-weight: bold;
}

.comment-text,
.reply-text {
    margin-top: 5px;
    font-size: 0.9em;
    color: #333;
}



.comment-actions,
.reply-actions {
    margin-top: 5px;
    margin-left: -4px;
    font-size: 0.7em;
}

.action-button {
    background: none;
    border: none;
    color: gray;
    cursor: pointer;
    font-size: 0.9em;
    padding: 5px;
}

.action-button:hover {
    color: #f03351;
}

.post-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    font-size: 0.7em;
    color: gray;
}

.post-details span {
    margin-right: 10px;
}

.post-details .action-button {
    cursor: pointer;
    background: none;
    border: none;
    color: inherit;
    font-size: inherit;
}

.post-details .action-button:hover {
    color: #f03351;
}

/* For left panel */
.left-container {
    background-color: #f03351;
    width: 220px;
    height: calc(100vh - 70px);
    position: fixed;
    top: 130px;
    left: 0;
    overflow-y: auto;
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 10px 0 10px;
    padding: 20px;

}

.nav-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-button {
    background-color: #fff;
    border: none;
    padding: 10px;
    margin-top: 15px;
    color: #f03351;
    text-align: center;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover,
.nav-button.active {
    background-color: #f03351;
    color: #fff;
}

.nav-buttons hr {
    border: 0;
    border-top: 1px solid #fff;
    margin: 10px 0;
}

.filter-section {
    margin-top: 20px;
}

.filter-section h5 {
    color: #fff;
}

.form-check-label {
    color: #fff;
}

.form-check-input {
    margin-right: 10px;
}

/* MypostDate */
.MyPostTitle {
    font-size: 2.2em;
    font-weight: bold;
    text-align: center;
    color: white;
}

.activity-btn {
    background-color: black;
    border: none;
    color: #fff;
    float: right;
    margin-top: 7px;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.4em;
}

.activity-btn i {
    font-size: 0.7em;
}

.activity-btn:hover {
    background-color: #f03351;
}

.viewYear {
    font-size: 1.4em;
    color: #727272;
    margin-top: 50px;
    font-weight: bold;
}

.viewDate {
    font-size: 1em;
    color: #727272;
    margin-top: 20px;
    font-weight: bold;
}

.Mypost-header {
    display: flex;
    justify-content: flex-end;
    /* Align the options button to the right */
    align-items: center;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-options {
    position: relative;
}

.options-btn {
    background: none;
    border: none;
    color: #333;
    font-size: 1.5em;
    cursor: pointer;
}

.dropdown-option {
    display: none;
    padding: 10px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

.dropdown-menu {
    z-index: 1050;
}

/* Reply section*/
.reply-wrapper {
    position: relative;
    display: inline-block;
    width: 450px;
}

.reply-wrapper input {
    padding-right: 40px;
    width: 100%;
    height: 100%;
}

.reply-wrapper button {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0 10px;
}

.reply-wrapper button i {
    color: #f03351;
}

.reply-wrapper button:hover i {
    color: #d42f48;
}

.reply-input {
    width: 400px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reply-input:focus {
    border-color: #f03351;
    outline: none;
}
