/*Main*/
html,
body {
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Poppins';
    overflow-x: hidden;
    background-color: #141414;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffece3;
}

::-webkit-scrollbar-thumb {
    background: #f03351;
}

::-webkit-scrollbar-thumb:hover {
    background: #fc5f5f;
}

.navbar-default {
    border-color: black !important;
}

/*Header*/

.btn-search:hover  {
    background-color: #f03351 !important;
}

.btn-search:hover i {
        color: white !important;
}


.nofitication-cont {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 35px;
    margin-bottom: auto;
    margin-top: auto;
    padding: 5px;
}

.header-container {
    background-color: white;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-msg>* {
    text-align: center;
    font-weight: 500;
    font-size: 13px;
    color: #141414;
}

.slides {
    display: none;
}

.header {
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    background-color: #141414;
}

.form-control:focus {
    border-color: rgba(100, 100, 100, 1) !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.business-icon {
    flex: 0 1 150px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action {
    margin-right: 10px;
    display: flex;
    flex-flow: row nowrap;
}

.header-font {
    color: white;
}

.header-font:hover,
.header-font:active,
.header-font:focus {
    color: antiquewhite;
}

.login:hover .dropdown-menu {
    display: block;
}

a.LoginHover:hover {
    color: #f03351;
    background-color: #212121;
}

.dropdowns {
    background-color: #f03351;
    padding: 8px;
}


.nav {
    margin-left: 17px;
    margin-right: 5px;
    font-size: 14px;
}


.drop:hover .dropdown-menu {
    display: block;
}

.dropbtn {
    border: 0 !important;
    box-shadow: none;
    color: white;
    margin:0;
}

.dropdown-item {
    color: #f03351;
}

.dropdown-item:hover {
    background-color: #141414;
    color: #f03351;
}

a.HyperLinkHover:hover {
    color: #f03351;
    background-color: #e8e3e3;
    font-size: 14px;
}

.MainHyperLinkHover {
    color: #f03351;
}

a.MainHyperLinkHover:hover,
a.MainHyperLinkHover:focus,
a.MainHyperLinkHover:active {
    background-color: white;
    color: #f03351;
}

a.HyperLinkHover:hover+a.MainHyperLinkHover {
    background-color: white;
    color: #f03351;
}

footer {
    background-color: #f03351;
    display: flex;
    flex-flow: column nowrap;
    margin-top: auto;
    bottom: 0;
}

.subscribe {
    margin-top: 35px;
}

.footer-container {
    height: contain;
    padding: 20px;
    margin-top: 5px;
}

.top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    color: white;
    margin: 0 25px 0 25px;
}

.ic {
    margin-right: 10px;
}

.middle {
    padding: 10px;
    margin: 10px 25px 0 40px;
    display: flex;
    flex-flow: row nowrap;
    flex: 0 1 500px;
    justify-content: space-around
}

.title {
    font-weight: bold;
}

.items>a {
    text-decoration: none;
}

.space {
    margin-top: 5px;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-content: center;
}

.right-header {
    display: flex;
    flex-flow: row nowrap;
}

.binder {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    margin-left: -10px;
}

.search-ctn {
    justify-content: left;
    padding-left: 25px;
}

.result {
    background-color: white;
    width: inherit;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
}

.linkBtn {
    border-bottom: 1px solid lightgrey;
}

.linkBtn:last-child {
    border-bottom: none;
}

/*Mobile and Tablet*/
@media (max-width: 869px) {
    .search-ctn {
        width: 100%;
        order: -1;
    }

    .header,
    .right-header {
        flex-flow: column nowrap;
    }

    .action-group {
        justify-content: center;
        margin-bottom: 8px;
    }

    .action {
        margin-right: 0px;
    }

    .top,
    .middle,
    .subscribe,
    hr,
    .map {
        display: none;
    }
}