/*Contents*/
.out {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-height:100vh;
}


.contents {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.content-header {
    font-weight: bold;
    font-size: 28px;
    margin: 25px 0px 3px 0px;
    text-shadow: 1px 1px grey;
    color:#f03351;
}

.count{
    color:white;
    margin-top: 15px;
    font-size: 18px;
}

.itemslide {
    width: 100%;
    display: flex;
    justify-content: center;
}

.imgFigure {
    width: 100%;
    padding: 15px;
    transition: 0.35s ease-in-out;
    max-height: 320px;
}

.imgFigure:hover {
    transform: scale(1.07);
}

.item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 265px);
    grid-gap: 20px;
    width: 100%;
    justify-content: center;
}

.item {
    width: 265px;
    min-height: 450px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #f03351;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    /* flex: 0 0 243px;*/
}

.imgFigure {
    width: 100%;
    height: 100%;
    padding: 15px;
    transition: 0.35s ease-in-out;
}

.imgFigure:hover {
    transform: scale(1.07);
}

.detail-cont {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    width: 90%;
    height: 100%;

    gap: 5px;
    justify-content: space-evenly;
}


.item-view {
    background-color: #f03351;
    border-radius: 10px;
    color: white;
    margin-top:auto;
}


.item-view>* {
    text-decoration: none;
    border: none;
    background-color: transparent;
    color: white;
}

.item-view>button {
    height: 35px;
}

.item-name {
    font-weight: bold;
    font-size: 18px;
}

.movieName {
    line-height: 18px;
}

.destination {
    border-radius: 10px;
    display: block;
    width: 100%;
}
.destination:hover {
    background-color: white;
    color: #f03351;
    border-radius: 10px;
}

.destination:hover i {
    color: #f03351;
}

/*Click this back to top*/
.toTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: none;
}