body,
html {
    min-height: 100vh;
    max-width: 100%;
    font-family: 'Poppins';
    overflow-x: hidden;
    background-color: #141414;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #ffece3;
}

::-webkit-scrollbar-thumb {
    background: #f03351;
}

::-webkit-scrollbar-thumb:hover {
    background: #fc5f5f;
}

.navbar-default {
    border-color: black !important;
}


.outer-box {
    display: flex;
    flex-flow: column nowrap;
}

.img-box {
    max-width: fit-content;
}

.img-box img {
    width: 150px;
}

.top-box {
    background-color: #f03351;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    padding: 30px;
    box-shadow: 0 0 20px 15px #f03351;
    gap: 30px;
    position: relative;
}


.info-box {
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.movie-name {
    font-weight: 600;
    font-size: 20px;
}

.movie-details {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}

.select-details {
    display: flex;
    flex-flow: column nowrap;
    gap: 14px;
}

.s-title {
    font-weight: bold;
}

.s-box {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
}




.middle-box {
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 30px 10px 30px;
    margin-top: 60px;
}

.cancel-btn {
    display: flex;
    margin-bottom: 20px;
}

.inmiddle {
    display: flex;
    justify-content: center;
    position: relative;
    max-height: fit-content;
}

.inmiddle img {
    width: 1000px;
}


.screen-tt {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 80px;
    font-weight: bold;
}



.bottom-box {
    width: 100%;
    margin: 50px 0px 50px -20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.seat {
    background-color: #444451;
    height: 20px;
    width: 20px;
    margin: 5px -5px;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatrowtitle {
    background-color: transparent;
    padding: 20px;
    gap: 20px;
    height: 20px;
    width: 20px;
    margin: 5px -5px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected {
    background-color: #f03351;
}

.occupied {
    background-color: white;
    color: #f03351;
}

.seat:nth-of-type(3) {
    margin-right: 60px;
}

.seat:nth-last-of-type(2) {
    margin-left: 60px;
}

.seat:not(.occupied) {
    transition: all ease-in .2s;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all ease-in .25s;
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}

.row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    color: white;
    font-weight: bold;
}


.footer-box {
    overflow: hidden;
    background-color: #f03351;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 10px;
}

.lbtt {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.left-b {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.right-b {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    justify-content: center;
}

.btn {
    font-weight: bold;
    padding: 10px 20px;
}

.listOfSeat {
    color: white;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
}

.outerright {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.innerright {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: end;
}


.indicator-box {
    margin-bottom: 50px;
    display: flex;
    flex-flow: row nowrap;
    gap: 60px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.indicator {
    background-color: #444451;
    height: 20px;
    width: 20px;
    margin: 5px -5px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.indicator-subbox {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

.indicator-tt {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 600;
}